.hero-scene{

position:absolute;

right:5%;

top:50%;

transform:translateY(-50%);

width:550px;

height:550px;

perspective:1200px;

}



.scene-card{

position:absolute;

border-radius:35px;

background:

linear-gradient(
145deg,
rgba(255,255,255,.15),
rgba(255,255,255,.03)
);

border:1px solid rgba(255,255,255,.15);

backdrop-filter:blur(20px);

box-shadow:

0 40px 100px rgba(0,0,0,.4);

overflow:hidden;

}



.scene-card.main{

width:420px;

height:300px;

right:40px;

top:120px;

}



.video-placeholder{

height:100%;

display:flex;

align-items:center;

justify-content:center;

font-size:70px;

font-weight:900;

color:white;

letter-spacing:8px;

background:

linear-gradient(
135deg,
#111,
#333
);

}





.small{

width:180px;

height:130px;

}



.one{

left:20px;

top:70px;

}



.two{

right:0;

bottom:70px;

}



.light{

position:absolute;

width:300px;

height:300px;

background:#ff9900;

filter:blur(120px);

opacity:.25;

right:100px;

top:100px;

z-index:-1;

}



@media(max-width:900px){

.hero-scene{

display:none;

}

}