.hero-bg{

position:absolute;

inset:0;

overflow:hidden;

pointer-events:none;

}



.hero-bg::before{

content:"";

position:absolute;

inset:0;

background:

radial-gradient(
600px circle at var(--x) var(--y),
rgba(255,170,0,.18),
transparent 40%
);

transition:.15s;

}



.orb{

position:absolute;

border-radius:50%;

filter:blur(80px);

}



.orb1{

width:500px;

height:500px;

background:#ff9d00;

opacity:.15;

top:-100px;

right:-100px;

animation:

move1 10s infinite alternate;

}



.orb2{

width:400px;

height:400px;

background:#0055ff;

opacity:.12;

bottom:-100px;

left:-100px;

animation:

move2 12s infinite alternate;

}



.grid-effect{

position:absolute;

inset:0;

background-image:

linear-gradient(
rgba(255,255,255,.03) 1px,
transparent 1px
),

linear-gradient(
90deg,
rgba(255,255,255,.03) 1px,
transparent 1px
);

background-size:80px 80px;

mask-image:
radial-gradient(
circle,
black,
transparent 70%
);

}



@keyframes move1{

to{

transform:translate(-100px,80px);

}

}



@keyframes move2{

to{

transform:translate(100px,-50px);

}

}