.project-viewer{

display:grid;

grid-template-columns: repeat(2, 1fr);

gap:30px;

margin-top:60px;

}


.project-view-card{

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

border-radius:25px;

overflow:hidden;

height:500px;

}



.project-view-card iframe{

width:100%;

height:100%;

border:0;

display:block;

}




@media(max-width:900px){

.project-viewer{

grid-template-columns:1fr;

}


.project-view-card{

height:400px;

}

}