.about{

padding:140px 0;

}





.about-grid{

display:grid;

grid-template-columns:1fr 2fr;

gap:80px;

align-items:start;

}





.about-title h2{

font-size:clamp(45px,6vw,70px);

line-height:1;

letter-spacing:-3px;

}



.about-title span{

color:var(--accent);

}





.about-content{

max-width:750px;

}





.about-content p{

font-size:22px;

line-height:1.8;

color:#aaa;

margin-bottom:25px;

}





.skills{

display:flex;

flex-wrap:wrap;

gap:15px;

margin-top:40px;

}





.skills span{

padding:12px 22px;

border-radius:50px;

background:

rgba(255,255,255,.05);


border:

1px solid rgba(255,255,255,.1);


font-size:15px;

transition:.3s;

}





.skills span:hover{

border-color:var(--accent);

transform:translateY(-4px);

}






/* TABLET */

@media(max-width:900px){



.about{

padding:100px 0;

}



.about-grid{

grid-template-columns:1fr;

gap:35px;

}



.about-content p{

font-size:20px;

}



}





/* MOBILE */

@media(max-width:600px){



.about{

padding:80px 0;

}



.about-title h2{

font-size:45px;

letter-spacing:-2px;

}



.about-content p{

font-size:17px;

line-height:1.7;

margin-bottom:20px;

}



.skills{

gap:10px;

margin-top:30px;

}



.skills span{

padding:10px 16px;

font-size:13px;

}



}